/*
 * ChannelEngine Channel API
 * ChannelEngine API for channels
 *
 * The version of the OpenAPI document: 2.9.3
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.channelengine.channel.apiclient.api;

import com.channelengine.channel.apiclient.ApiCallback;
import com.channelengine.channel.apiclient.ApiClient;
import com.channelengine.channel.apiclient.ApiException;
import com.channelengine.channel.apiclient.ApiResponse;
import com.channelengine.channel.apiclient.Configuration;
import com.channelengine.channel.apiclient.Pair;
import com.channelengine.channel.apiclient.ProgressRequestBody;
import com.channelengine.channel.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.channelengine.channel.apiclient.model.CollectionOfChannelShipmentResponse;
import org.threeten.bp.OffsetDateTime;
import com.channelengine.channel.apiclient.model.ShipmentStatus;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ShipmentApi {
    private ApiClient localVarApiClient;

    public ShipmentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ShipmentApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for shipmentIndex
     * @param createdSince Deprecated, please use FromDate instead. (optional)
     * @param statuses Shipment status(es) to filter on. (optional)
     * @param fromDate Filter on the creation date, starting from this date. This date is inclusive. (optional)
     * @param toDate Filter on the creation date, until this date. This date is exclusive. (optional)
     * @param channelOrderNos Filter on the unique references (ids) as used by the channel. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call shipmentIndexCall(OffsetDateTime createdSince, List<ShipmentStatus> statuses, OffsetDateTime fromDate, OffsetDateTime toDate, List<String> channelOrderNos, Integer page, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v2/shipments";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (createdSince != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("createdSince", createdSince));
        }

        if (statuses != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "statuses", statuses));
        }

        if (fromDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("fromDate", fromDate));
        }

        if (toDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("toDate", toDate));
        }

        if (channelOrderNos != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "channelOrderNos", channelOrderNos));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "apiKey" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call shipmentIndexValidateBeforeCall(OffsetDateTime createdSince, List<ShipmentStatus> statuses, OffsetDateTime fromDate, OffsetDateTime toDate, List<String> channelOrderNos, Integer page, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = shipmentIndexCall(createdSince, statuses, fromDate, toDate, channelOrderNos, page, _callback);
        return localVarCall;

    }

    /**
     * Get Shipments.
     * Gets all shipments created since the supplied date.
     * @param createdSince Deprecated, please use FromDate instead. (optional)
     * @param statuses Shipment status(es) to filter on. (optional)
     * @param fromDate Filter on the creation date, starting from this date. This date is inclusive. (optional)
     * @param toDate Filter on the creation date, until this date. This date is exclusive. (optional)
     * @param channelOrderNos Filter on the unique references (ids) as used by the channel. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @return CollectionOfChannelShipmentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public CollectionOfChannelShipmentResponse shipmentIndex(OffsetDateTime createdSince, List<ShipmentStatus> statuses, OffsetDateTime fromDate, OffsetDateTime toDate, List<String> channelOrderNos, Integer page) throws ApiException {
        ApiResponse<CollectionOfChannelShipmentResponse> localVarResp = shipmentIndexWithHttpInfo(createdSince, statuses, fromDate, toDate, channelOrderNos, page);
        return localVarResp.getData();
    }

    /**
     * Get Shipments.
     * Gets all shipments created since the supplied date.
     * @param createdSince Deprecated, please use FromDate instead. (optional)
     * @param statuses Shipment status(es) to filter on. (optional)
     * @param fromDate Filter on the creation date, starting from this date. This date is inclusive. (optional)
     * @param toDate Filter on the creation date, until this date. This date is exclusive. (optional)
     * @param channelOrderNos Filter on the unique references (ids) as used by the channel. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @return ApiResponse&lt;CollectionOfChannelShipmentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CollectionOfChannelShipmentResponse> shipmentIndexWithHttpInfo(OffsetDateTime createdSince, List<ShipmentStatus> statuses, OffsetDateTime fromDate, OffsetDateTime toDate, List<String> channelOrderNos, Integer page) throws ApiException {
        okhttp3.Call localVarCall = shipmentIndexValidateBeforeCall(createdSince, statuses, fromDate, toDate, channelOrderNos, page, null);
        Type localVarReturnType = new TypeToken<CollectionOfChannelShipmentResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Shipments. (asynchronously)
     * Gets all shipments created since the supplied date.
     * @param createdSince Deprecated, please use FromDate instead. (optional)
     * @param statuses Shipment status(es) to filter on. (optional)
     * @param fromDate Filter on the creation date, starting from this date. This date is inclusive. (optional)
     * @param toDate Filter on the creation date, until this date. This date is exclusive. (optional)
     * @param channelOrderNos Filter on the unique references (ids) as used by the channel. (optional)
     * @param page The page to filter on. Starts at 1. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Success </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call shipmentIndexAsync(OffsetDateTime createdSince, List<ShipmentStatus> statuses, OffsetDateTime fromDate, OffsetDateTime toDate, List<String> channelOrderNos, Integer page, final ApiCallback<CollectionOfChannelShipmentResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = shipmentIndexValidateBeforeCall(createdSince, statuses, fromDate, toDate, channelOrderNos, page, _callback);
        Type localVarReturnType = new TypeToken<CollectionOfChannelShipmentResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
